/* Traditions section */
.traditions-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  &__image {
    border-radius: 400px 400px 0px 0px;
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}
