@charset "UTF-8";
/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2");
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2");
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2");
}
:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-superlight: #cfcfbc;
  --color-secondary-dark: #a28268;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    font-weight: 400;
  }
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.button {
  display: block;
  background: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
}

.button:hover,
.button:active {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-dark);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 32px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    justify-content: center;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__button {
    display: block;
  }
}
.header__burger {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: var(--color-primary-light);
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

/*& - копіює назву блоку*/
.hero-section {
  padding: 124px 0;
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 272px 0;
  }
}
@media screen and (min-divace-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/hero-section-background@2x.jpg);
  }
}
.hero-section__button {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero-section__button {
    display: none;
  }
}

.hero-section__title {
  margin-bottom: 48px;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 67px;
  line-height: 1;
  font-weight: 900;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 128px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.hero-section__title .accent {
  color: var(--color-brand-light);
}

/* Advantages section */
.advantages-section {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .advantages-section {
    background-color: var(--color-brand-light);
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-brand-superlight);
  border-radius: 24px;
  padding: 24px 40px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

.advantages-item {
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 64px;
    line-height: 1.3;
  }
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-section {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .traditions-section {
    padding-top: 96px;
  }
}
.traditions-section__image {
  border-radius: 400px 400px 0px 0px;
  display: none;
}
@media screen and (min-width: 768px) {
  .traditions-section__image {
    display: block;
  }
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs*/
.chefs-title {
  position: relative;
  margin: 0 auto 24px;
}
@media screen and (min-width: 1200px) {
  .chefs-title {
    margin-bottom: 80px;
  }
}

.chefs-title::before,
.chefs-title::after {
  display: none;
  position: absolute;
  bottom: 24px;
  content: "";
  width: 352px;
  border: 2px solid #cfcfbc;
}
@media screen and (min-width: 1200px) {
  .chefs-title::before,
  .chefs-title::after {
    display: block;
  }
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chef-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .chef-list {
    gap: 40px 30px;
    flex-direction: row;
  }
}

.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .chef-card {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .chef-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.chef-photo {
  width: 140px;
  border-radius: 2px 2px 2px 116px;
  box-shadow: -8px 8px 0 0 var(--color-primary-light), -8px 8px 0 2px #a28268;
}
@media screen and (min-width: 1200px) {
  .chef-photo {
    width: 240px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px #a28268;
  }
}

.chef-text p {
  margin-bottom: 24px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .chef-text p {
    font-size: 18px;
  }
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .chef-title {
    font-size: 40px;
  }
}

/* Formats section */
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-section-container {
  overflow: hidden;
}

.formats-title {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .formats-title {
    margin-bottom: 80px;
  }
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

/*.formats-item {
  flex-basis: calc((100% - 40px) / 3); Розрахунок ширини карток
} */
.format-card {
  position: relative;
  height: 444px;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.format-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.formats-section-container-list--margin {
  margin-bottom: 32px;
}

.formats-container__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .formats-container__button {
    display: flex;
  }
}

/*Footer*/
.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::before, .footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";
}
.footer::before {
  width: 100px;
  height: 90px;
  right: 0;
  background-image: url("../images/decor-bread-large-mobile.png");
}
@media screen and (min-width: 768px) {
  .footer::before {
    left: 0;
    right: auto;
    width: 180px;
    height: 120px;
    background-image: url("../images/decor-bread-small.png");
  }
}
.footer::after {
  width: 85px;
  height: 205px;
  top: 0;
  left: 0;
  background-image: url("../images/decor-bread-small-mobile.png");
}
@media screen and (min-width: 768px) {
  .footer::after {
    right: 0;
    top: auto;
    left: auto;
    width: 380px;
    height: 190px;
    background-image: url("../images/decor-bread-large.png");
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}
.footer__nav, .footer__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__nav, .footer__address {
    flex-direction: row;
    flex-basis: 50%;
    text-align: left;
  }
}
.footer__logo {
  flex-grow: 1;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}
.footer__address-list, .footer__address-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}
.footer__address-list, .footer__address-info {
  flex-grow: 1;
}
.footer__address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.footer__address-link:hover {
  color: var(--color-brand-light);
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    justify-content: flex-start;
  }
}
.footer__socials-icon {
  fill: var(--color-primary-light);
}
.footer__socials-icon:hover {
  fill: var(--color-brand-light);
}
.footer__address-copyright {
  color: var(--color-secondary-dark);
  font-size: 14px;
}

/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  padding: 68px;
  border-radius: 32px;
  overflow-y: auto;
}
.modal__title {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal__title {
    font-size: 64px;
    line-height: 1.3;
  }
}
.modal__text {
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal__text {
    margin-bottom: 72px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

/*Form*/
.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
}

.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid #a28268;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}

.form-input::-moz-placeholder {
  color: var(--color-brand-dark);
}

.form-input::placeholder {
  color: var(--color-brand-dark);
}

.form-input:focus::-moz-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

/*Contact section*/
.contact-section {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .contact-section {
    padding-bottom: 96px;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    gap: 32px;
  }
}

.contact-title {
  margin-bottom: 16px;
}

.contact-section__map {
  height: 176px;
  flex-shrink: 0;
  margin: 0 -24px;
  border: none;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .contact-section__map {
    margin: auto;
    width: 320px;
    height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-section__map {
    width: 600px;
    height: 595px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.3s;
}
.mobile-menu::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 240px;
  background-image: url("../../images/decor-bread-modal.png");
  content: "";
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__btn-close {
  position: absolute;
  top: 16px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: transparent;
  stroke: var(--color-primary-dark);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile-menu__logo {
  margin-bottom: 32px;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile-menu__link {
  color: var(--color-primary-dark);
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
}
.mobile-menu__link:hover {
  color: var(--color-brand-dark);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.pagination__button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
}
.pagination__button--active {
  background-color: var(--color-brand-light);
}/*# sourceMappingURL=main.css.map */